<?xml version="1.0" encoding="UTF-8"?>
<!--<?xml version="1.0" encoding="GBK" ?>-->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--引入外部properties文件  -->

    <!-- 引入配置文件 -->
    <!--<properties resource="jdbc-config.properties" />-->
    <!--<properties resource="jdbc-config.properties"></properties>-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="jdbc"/>
            <dataSource type="POOLED">
                <!--<property name="driver" value="${jdbc.driver}"/>-->
                <!--<property name="url" value="${jdbc.url}"/>-->
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://47.106.149.105:3306/fangpu"/>
                <!--<property name="username" value="${jdbc.username}"/>-->
                <!--<property name="password" value="${jdbc.password}"/>-->
                <!--<property name="url" value="jdbc:mysql://47.106.149.105:3306/zjb" />-->
                <property name="username" value="root"/>
                <property name="password" value="123"/>
            </dataSource>
        </environment>
    </environments>

    <!--<typeHandlers>-->
        <!--<typeHandler handler="com.renchaigao.mybatis.typeHandler.JsonTypeHandler" javaType=""/>-->
    <!--</typeHandlers>-->
    <mappers>
        <mapper resource="userMapper.xml"/>
        <mapper resource="termMapper.xml"/>
    </mappers>
</configuration>


